MW_DICTIONARY_API_KEY=
MW_DICTIONARY_TYPE=collegiate
OPENAI_API_KEY=
VOLC_ACCESSKEY=
VOLC_SECRETKEY=
VOLC_SPEECH_APP_ID=
VOLC_SPEECH_ACCESS_TOKEN=
VOLC_SPEECH_SPEAKER=en_female_dacey_uranus_bigtts
# VOLC_SPEECH_USE_LEGACY=true
VOLC_LLM_API_KEY=
VOLC_LLM_ENDPOINT_ID=
